.weather-container {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-container.error {
  color: rgb(117, 109, 109);
  border-color: red;
}

.city-name {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
}

.weather-details p {
  margin: 10px 0;
  font-size: 1.1em;
}

.temperature strong {
  color: #ff5722; /* Orange for temperature */
  font-size: 1.3em;
}
