* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
}
.input-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  label {
    padding: 10px;
    margin-right: 10px;
  }
}
